#loading-row {
    padding:30px 0 50px 0;
    height: 22vh;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
}

#left-gear {
    align-self:flex-end;
}

.robot {
    margin-top:40px;
}

.robot img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

/* on hover, the robot will rotate a little and glow */
.robot:hover img {
    -webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(15deg) scale(1.2);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    filter:drop-shadow(.3rem .3rem .3rem #468B97)
}

@media screen and (max-width: 1250px) {

    #coach-row div, #loading-row div:not(.col) {
        width: fit-content;
        justify-content: center;
    }

    #coach-row {
        align-items: center;
        justify-content: center;
    }

    #left-gear {
        align-self:center;
    }
}