<div class="main-bg">
    <div id="app-header" class="d-flex align-items-end">
      <a routerLink="/" id="app-logo">
        <img src="/assets_app/logo.png" width="80" alt="robot coming out of a fridge holding a plate">
      </a>
      <p class="fs-4 text-white" id="app-name">FridGPT</p>
      <i class="bi bi-pin-angle align-self-center" tabindex="0" (click)="openCredits()" (keypress)="openCredits()"></i>
    </div>
    <div id="app-content">
      <router-outlet></router-outlet>
      <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    </div>
</div>
