button {
    width: 100px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;   
}

.description {
    max-height: 50vh;
    overflow-y: auto;
}