:host {
  position: fixed;
  top: 3%;
  left: 25%;
  margin: 0.5em;
  z-index: 1200;
  border-radius: 5px;
}

ngb-toast {
  padding:10px;
}

@media screen and (max-width: 770px) {
  :host {
    left: 0%;
  }
}