p {
    margin-bottom: 0;
}

#description {
    bottom: 0;
}

#dish-title {
    top: 0;
    z-index: 10;
    height: 10%;
    display: flex;
    justify-content: center;
}

#description, #dish-title {
    position: absolute;
    left:0;
    width: 100%;
    overflow: visible;
}

#dish-img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#description div {
    width: 70%;
}

#description + #coach-face {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#description:hover > #coach-face {
    -webkit-transform: scale(1.3);
	transform : translate(20%, -20%) scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    filter:drop-shadow(.2rem .2rem .2rem black)
}

.selectable #dish:hover, #description:hover {
    cursor: pointer;
}

.selectable #dish:hover img {
    opacity: 0.8;
}

#description, #dish-title {
    background: linear-gradient(to right, #468B97 50%, #24486D 50%);
    transition: all .5s ease-out;
    background-position: right bottom;
    background-size: 200% 100%;
}

#description:hover, .selectable #dish:hover #dish-title {
    background-position: left bottom;
}

@media screen and (max-width: 770px) {
    #dish-title p {
        width: 80%;
    }
    #dish-title {
        justify-content: end;
    }
}