p {
    margin-bottom: 0;
}

#description {
    bottom: 0;
}

#dish-title {
    top: 0;
    z-index: 10;
    height: 10%;
}

#description, #dish-title {
    position: absolute;
    left:0;
    width: 100%;
    overflow: visible;
}

#dish-img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#description div {
    width: 70%;
}

#description + #coach-face {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#description:hover > #coach-face {
    -webkit-transform: scale(1.3);
	transform : translate(20%, -20%) scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    filter:drop-shadow(.2rem .2rem .2rem black)
}

#card-container:hover {
    cursor: pointer;
}

#dish:hover img {
    opacity: 0.8;
}

#description, #dish-title {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#description:hover, #dish:hover #dish-title {
    box-shadow: inset 400px 0 0 0 rgba(70, 139, 151, 0.5);
}