#header {
  gap:100px;
}

#back-btn {
  background: #00425A;
  height: 50%;
}

p {
  margin-bottom: 0;
}

#col-description {
  position:relative;
  overflow-x: hidden;
}

.container-fluid,.row, .col {
  height: 100%;
}

#step {
  width:85%;
  height: 60vh;
  margin:0px auto 0px auto;
  border-top: 4px solid #00425a;
  padding:10px 20px 10px 20px;
  position: relative;
  overflow: hidden;
  max-width:60vw;
}

#step p {
  max-width:100%;
  overflow:auto;
}

#help-btn {
  width: fit-content;
  margin:0px 20px 20px auto;
}

#step-detail {
  margin:auto;
}

#step-counter {
  position: absolute;
  bottom: -40px;
  left:-40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #202027;
}

#step-counter p {
  position:relative;
  top:20px;
  left: 50px;
  display: inline;
}

.container-fluid, #step {
  border-top: 4px solid #00425a;
}

.bi-chevron-left, .bi-chevron-right {
  font-size: 30px;
}

@media screen and (max-width: 770px) {  
  #col-description, #header {
    display: none;
  }

  #col-step {
    padding: 0;
  }

  #small-screen-info {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    border-bottom: 4px solid #00425a;
  }

  #small-screen-info img {
    align-self: flex-end;
  }

  #step {
    width:100%;
    height: 70vh;
  }

  .container-fluid, #step {
    border:none;
  }
}
