#header {
  border-bottom: 4px solid #00425a;
  position:relative;
}

#header p {
  margin-bottom: 5px;
}

#col-description {
  border-right: 4px solid #00425a;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:0;
}

.container-fluid {
  height: 100%;
}

.img {
  height: 65vh;
}

.dish-info {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom:0;
}

.col-lg-4 {
  overflow-x: hidden;
}

.col {
  position: relative;
}

#recipe-instructions {
  top:5vh;
  width: 50vw;
  height:60vh;
  border-top: 4px solid #00425a;
  padding:10px;
}

.dark-bg {
  background-color: #24486D;
}

.absolute-center {
  position: absolute;
  left: 0px; 
  right: 0px;
  bottom:0;
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
}
