/* You can add global styles to this file, and also import other style files */
html, .main-bg {
    background-color: #1D5B79;
}

.bold {
    font-weight: bold;
}

.hand-cursor {
    cursor: pointer;
}

.light-blue-bg {
    background-color: #468B97;
}

.dark-blue-bg {
    background-color: #1D5B79;
}

.darker-blue-bg {
    background-color: #24486D;
}

.light-red-bg {
    background-color: #EF6262;
}

.debug {
    border: 1px solid red;
}