/* You can add global styles to this file, and also import other style files */
html, .main-bg {
    background-color: #1D5B79;
}

.white {
    color:white;
}

.float-left {
    float: left;
}

.hand-cursor {
    cursor: pointer;
}

.debug {
    border: 1px solid red;
}