/* You can add global styles to this file, and also import other style files */
html, .main-bg {
    background-color: #1D5B79;
}

.bold {
    font-weight: bold;
}

.hand-cursor {
    cursor: pointer;
}

.light-blue-bg {
    background-color: #468B97;
}

.dark-blue-bg {
    background-color: #1D5B79;
}

.darker-blue-bg {
    background-color: #24486D;
}

.darkest-bg {
    background-color: #202027;
}

.light-red-bg {
    background-color: #EF6262;
}

.debug {
    border: 1px solid red;
}

.tiny-fancy-scroll::-webkit-scrollbar, .fancy-scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #1D5B79;
}

.fancy-scroll::-webkit-scrollbar-thumb {
    background-color: #24486D;
}

.tiny-fancy-scroll::-webkit-scrollbar {
    height: 8px;
}

.tiny-fancy-scroll::-webkit-scrollbar-thumb {
    background-color:#EF6262;
}

.text-overflow {
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}