.container {
    display: flex;
    overflow-y: auto;
    max-width: 100vw;
    scroll-snap-type: x mandatory;
    padding:0;
    height: 100%;
}
  
.box {
    flex: 0 0 25%;
    height: 100%;
    scroll-snap-align: start;
    position:relative;
    overflow-x: hidden;
    margin-right: 10px;
    border-radius: 5px;
}

.description {
    position: absolute;
    height: 20%;
    bottom: 0;
    width: 100%;
    display: flex;
}

.description img {
    align-self: flex-end;
}

.dish-img {
    height:80%;
    overflow-x: hidden;
    transition: 0.3s;
}

.box:hover {
    opacity: 0.8;
}

.description div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

p {
    margin-bottom: 0;
}

.smaller {
    font-size: 0.8em;
}

.description div .coach-name {
    align-self: flex-end;
}

@media screen and (max-width: 770px) { 
    #header {
       display: none;
    }
    .box {
        min-width: 100vw;
        height: 98vh;
        margin-right: 0;
    }

    .container {
        position: fixed;
        top:0;
    }

    .dish-img {
        z-index: -1;
    }

    .dish-title {
        font-size: 1.4em!important;
    }
}
  