#loading-row {
    padding:30px 0 50px 0;
    height: 22vh;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
}

#left-gear {
    align-self:flex-end;
}

#rotation-fw {
    animation-name: spin-fw;
}

#rotation-bw {
    animation-name: spin-bw;
}

.rotation {
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
  
@keyframes spin-fw {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
@keyframes spin-bw {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@media screen and (max-width: 1250px) {

    #coach-row div, #loading-row div:not(.col) {
        width: fit-content;
        justify-content: center;
    }

    #coach-row {
        align-items: center;
        justify-content: center;
    }

    #left-gear {
        align-self:center;
    }
}