<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p class="fs-2 white">Génération des recettes en cours</p>
        </div>
    </div>
    <div class="row justify-content-md-center" id="loading-row">
        <div class="col-sm-auto" id="gear1">
            <img class="rotation-fw " src="/assets_app/gear1.png" width="50"/>
        </div>
        <div class="col-sm-auto">
            <img class="rotation-bw" src="/assets_app/gear2.png" width="60"/>
        </div>
    </div>
    <div class="row justify-content-sm-center">
        <div class="col-sm-auto"><img src="/assets_app/germaine.png" width="70"/></div>
        <div class="col-sm-auto"><img src="/assets_app/travis.png" width="70"/></div>
        <div class="col-sm-auto"><img src="/assets_app/bernardo.png" width="70"/></div>
        <div class="col-sm-auto"><img src="/assets_app/miggins.png" width="70"/></div>
        <div class="col-sm-auto"><img src="/assets_app/stewen.png" width="70"/></div>
    </div>
</div>




