<div id="main-header" class="d-flex justify-content-end align-items-center">
  <p class="fs-6 text-white margin-right">Pour commencer, donnons quelques indications aux coachs !</p>
  <div id="header-coach">
    <img src="/assets_app/germaine.png" width="60" alt="" />
    <img src="/assets_app/travis.png" width="60" alt="" />
    <img src="/assets_app/bernardo.png" width="60" alt="" />
  </div>
</div>
<div class="row margin-both-sides" id="main-row">
  <!-- ingredients picking menu -->
  <div class="col">
    <div class="light-blue-bg content-header">
      <h4> <img class="margin-both-sides header-icon" src="/assets_app/harvest.png" width="30" alt="" /> Ingrédients à disposition </h4>
    </div>
    <div class="row margin-top d-flex align-items-center" id="ingredients-header-title">
      <div class="col col-name">
        <p class="fs-5 text-white">Nom</p>
      </div>
      <div class="col-sm-1 text-white d-flex justify-content-between align-items-center" >
        <i class="bi bi-exclamation-triangle-fill" ngbTooltip="L'ingrédient doit obligatoirement être utilisé"> </i><i class="bi bi-clock"></i>
      </div>
      <div class="col-md-2 col-no-padding">
        <p class="fs-5 text-white text-center ">Quantité</p>
      </div>
      <div class="col-md-3"></div>
      <div class="col-sm-1"></div>
    </div>
    <div id="ingredients-content">
      <ng-container *ngFor="let ingredient of requestedRecipe.ingredients">
        <div class="row margin-top row-ingredient" [ngClass]="{'invalid-row': ingredient.isInvalid}">
          <div class="col col-name">
            <p class="fs-6 text-white">{{ ingredient.name }}</p>
          </div>
          <div class="col-sm-1 d-flex justify-content-center">
            <input type="checkbox" class="form-check-input" name="is-mandatory-toggle" [(ngModel)]="ingredient.mandatory">
          </div>
          <div class="col-md-2 col-toggle">
            <div class="d-flex justify-content-center">
              <input name="quantity-toggle" class="form-check-input" type="checkbox" role="switch" [(ngModel)]="ingredient.displayQuantity">
            </div>
          </div>
          <div class="col-md-3 col-no-padding col-qty">
            <ng-container *ngIf="ingredient.quantity && ingredient.displayQuantity">
              <div class="form form-quantity">
                <input name="quantity" class="text-center" [(ngModel)]="ingredient.quantity.value" type="number" required/>
                <label></label>
              </div>
              <ng-container *ngIf="ingredient.isCustom; else fixedUnit">
                <select class="form-select unit-select text-white" [(ngModel)]="ingredient.quantity.unit">
                  <option value="pièce">Pièce</option>
                  <option value="kg">kg</option>
                  <option value="g">g</option>
                  <option value="ml">ml</option>
                  <option value="L">L</option>
                </select>
              </ng-container>
              <ng-template #fixedUnit>
                <p class="fs-6 text-white qty-text">{{ ingredient.quantity.unit }}</p>
              </ng-template>
            </ng-container>
          </div>
          <div class="col-sm-1 trash d-flex justify-content-center">
            <i class="bi bi-trash-fill text-white hand-cursor" (click)="removeIngredientFromList(ingredient.name)"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="form form-search margin-top">
      <input [disabled]="noData()" (input)="filter()" [(ngModel)]="currentSearch" type="text" id="search"
        autocomplete="off" required />
      <label for="search" class="input-label">
        <span class="input-label-content"><i class="bi bi-search"></i> Rechercher</span>
      </label>
    </div>
    <div class="progress" *ngIf="noData()">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <!-- ingredients list -->
    <div id="search-list" [ngStyle]="{'max-height':searchListHeight()}">
      <ng-container *ngFor="let item of filteredIngredients">
        <div class="search-item light-blue-bg hand-cursor text-white small-padding" (click)="addIngredientToList(item)" [ngClass]="{'selected-item': item.selected}">
          <button class="btn button-item" ><i class="bi bi-plus-lg"></i></button> 
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>
  <!-- parameters menu -->
  <div class="col" id="customization-col">
    <div class="light-blue-bg content-header">
      <h4><img class="margin-both-sides header-icon" src="/assets_app/customization.png" width="30" alt="" /> Personnalisation </h4>
    </div>
    <div class="container col d-flex flex-column justify-content-start margin-top" id="parameters">
     
      <div class="row d-flex align-items-center">
        <div class="col col-sm-1">
          <button [ngClass]="{'light-red-bg': requestedRecipe.durationInput != null}" class="btn btn-outline-danger text-white param-title-sm" 
            (click)="requestedRecipe.durationInput = flipValue(requestedRecipe.durationInput, {hour:1,minute:0})">
            <i class="bi bi-hourglass-split"></i>
          </button>
        </div>
        <div class="col">
          <div class="d-flex align-items-center" [@fadeInOut] *ngIf="requestedRecipe.durationInput != null">
            <p class="fs-6 text-white margin-both-sides">Temps à disposition </p>
            <ngb-timepicker name="duration-input" [(ngModel)]="requestedRecipe.durationInput" [spinners]="false"></ngb-timepicker>
          </div>
        </div>
      </div>

      <div class="row d-flex align-items-center">
        <div class="col col-sm-1">
          <button [ngClass]="{'light-red-bg': requestedRecipe.personCount != null}" class="btn btn-outline-danger text-white param-title-sm" 
            (click)="requestedRecipe.personCount = flipValue(requestedRecipe.personCount, 1)">
            <i class="bi bi-person-fill-add"></i>
          </button>
        </div>
        <div class="col">
          <div class="d-flex align-items-center form form-quantity" [@fadeInOut] *ngIf="requestedRecipe.personCount != null">
            <p class="text-white margin-both-sides">Portions </p>
            <input name="quantity" class="text-center" id="person-input" min="0" max="100" [(ngModel)]="requestedRecipe.personCount" type="number"/>
          </div>
        </div>
      </div>

      <div class="row d-flex align-items-center">
        <div class="col col-sm-1">
          <button [ngClass]="{'light-red-bg': requestedRecipe.difficulty != null}" class="btn btn-outline-danger text-white" 
            (click)="requestedRecipe.difficulty = flipValue(requestedRecipe.difficulty, 1)">
            <i class="bi bi-fire"></i>
          </button>
        </div>
        <div class="col">
          <div class="d-flex align-items-center" [@fadeInOut] *ngIf="requestedRecipe.difficulty != null">
            <p class="text-white margin-both-sides">Votre niveau de cuisine </p>
            <ngb-rating [(rate)]="requestedRecipe.difficulty" [max]="3" id="difficulty-input">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi bi-star{{fill === 100 ? '-fill' : ''}}" [class.filled]="fill === 100"></i>
              </ng-template>
            </ngb-rating>
          </div>
        </div>
      </div>

      <div>
        <input type="checkbox" class="form-check-input" id="image-toggle" [(ngModel)]="requestedRecipe.withImage">
        <label class="form-check-label margin-both-sides text-white" for="image-toggle">Chaque recette sera accompagnée d'une suggestion de présentation appétissante !</label>   
      </div>
      <div>
          <input type="checkbox" class="form-check-input" id="shopping-toggle" [(ngModel)]="requestedRecipe.otherIngredientsAllowed">
          <label class="form-check-label margin-both-sides text-white" for="shopping-toggle">La liste des ingrédients peut être complétée pour élargir les possibilités de recettes</label>   
      </div>
    </div>
  </div>
</div>
<!-- start button -->
<div class="search-button hand-cursor" (click)="startloadingRecipes()">
  <div class="search-button-content">
    <p class="text-white search-button-text bold text-center"> C'est parti !</p>
    <div class="icon">
      <img src="/assets_app/rocket_on_hover.png" width="30" alt="" />
    </div>
  </div>
</div>
