#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    margin-right: 20px;
    gap:20px;
}

.content-header {
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

/* search items */
#search-list, #ingredients-content {
    overflow-y: auto;
}

.search-item {
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.search-item:hover > .button-item, .selected-item > .button-item {
    background-color: #1D5B79
}

.button-item {
    padding: 0 5px 0 5px;
    border-radius: 60px;
    margin-right:5px;
    margin-bottom: 2px;
    border: 2px solid #1D5B79;
 }

 /* ingredients table */
#ingredients-content {
    max-height: 30vh;
}

.invalid-row .col-name {
    background-color: rgba(168, 50, 50,.4);
}

.form-check-input:checked {
    background-color: #EF6262;
    border-color: #EF6262;
}

.unit-select {
    background-color: #1D5B79;
    border: 3px solid rgba(0, 66, 90,0.3);
    padding-top:0;
}

.row-ingredient {
    align-items: center;
}

.qty-text {
    padding-left:15px;
}

.form-quantity {
    width: 50%;
}

.col-qty {
    display: flex;
}


.unit-select option {
    background-color: #468B97;
}

.row {
   min-height: 38px;
}

.form-switch {
    display: flex;
    justify-content: center;
}

.col-no-padding {
    padding:0;
}

/* parameters */
.image-checkbox {
    padding: 10px;
}

/* general styles and other elements */
.progress-bar {
    width: 100%;
    background-color: #EF6262;
}

.progress {
    height: 10px;
}

.margin-both-sides {
    margin: 0px 10px 0px 10px;
}

.margin-top {
    margin: 10px 0 0 0;
}

p {
    margin-bottom: 0;
}

/* ------ search input ------ */
.form {
    position: relative;
    overflow-x: hidden;
}

.form input  {
    width: 100%;
    border: none;
    background-color: #1D5B79;
    outline: none;
    color: white;
}

.form-search {
    height: 60px;
    padding-top:20px;
}

.form-search input {
    height:100%;
}

.form label {
    position: absolute;
    bottom: 0px;
    left:0%;
    width: 100%;
    height:100%;
    pointer-events: none;
    border-bottom: 1px solid #468B97;
}

.form label:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom:-1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #468B97;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.input-label-content {
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.3s ease;
}

.form input:focus + .input-label .input-label-content, 
.form input:valid + .input-label .input-label-content {
    transform: translateY(-150%);
    font-size: 14px;
    color: white;
}

.form input:focus + .input-label:after,
.form input:valid + .input-label:after {
    transform: translateX(0%);
}

/* ------ search button ------ */
.search-button {
    position: fixed;
    bottom: 50px;
    right: 0;
    transform: translate(-50%, -50%);
}
  
.search-button-content {
    position: relative;
}
  
.search-button-text {
    display: block;
    width: 110px;
    line-height: 50px;
    background: #00425A;
    border: 3px solid #00425A;
    transition: all .35s;
    border-radius: 5px;
}
  
.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon img {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    transition: all .35s;
}
  
.search-button-text:hover {
    width: 170px;
    border: 3px solid #EF6262;
    background: transparent;
}

.search-button-text:hover + .icon {
    border: 3px solid #EF6262;
    right: -25%;
    background-color: #468B97;
}

.toast-body {
    border-radius: 5px;
}

.toast {
    width: fit-content;
}

.trash {
    justify-self: end;
}

@media screen and (max-width: 770px) {
    #header-coach {
        display: flex;
    }

    #main-header img {
        width: 50px;
    }

    #main-header p {
        font-size: .9em!important;
        padding-left: 10px;
    }

    #main-header {
        align-items: flex-end;
    }

    .header-icon {
        width: 25px;
    }

    #main-row {
        flex-direction: column;
        height:85%;
        overflow: hidden;
    }

    #main-row .col {
        padding-right: 0;
        padding-left: 0;
    }

    #customization-col {
        max-height: 50%;
        justify-content: flex-end;
    }

    .image-checkbox {
        display: flex;
    }

    #ingredients-header-title div, #ingredients-content div .trash {
        width: fit-content;
        justify-content: center;
    }

    .col-name {
        max-width: 40vw;
        padding:3px;
        min-width: 40vw;
    }

    .row-ingredient {
        justify-content: flex-start!important;
        width: 100%;
    }

    .col .fs-5, .unit-select {
        font-size: 1em!important;
    }

    .search-button {
        bottom: 20px;
    }

    .col-qty {
        max-width: 27%;
        justify-content: flex-start!important;
    }

    .col-qty .form-quantity {
        max-width: 40%;
    }

    .unit-select {
        padding:2px;
    }

    .col-toggle {
        max-width: 15%;
    }

    #search-list {
        min-height:20px!important;
    }

    #ingredients-content {
        max-height: 30vh;
    }

    .search-button {
        z-index: -1;
    }
}