#header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#menu-header {
    background-color: #468B97;
    height: 45px;
    padding: 5px;
}

#ingredientsHeader, #ingredientsForm {
    margin: 10px 0 0 0;
}

#start-btn {
    background-color: #EF6262;
    border: #EF6262 1px solid;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 100px;
}

#start-btn p {
    margin-bottom: 0;
}

.search-item {
    background-color: #468B97;
    border-bottom: 1px solid black;
    padding:10px;
    border-radius: 5px;
}

.margin-right {
    margin-right: 10px;
}

.input-group {
    margin-top:20px;
}

.progress-bar {
    width: 100%;
}

.progress{
    height:10px;
}