#main-header {
    margin-right: 20px;
}

.round-corners {
    border-radius: 5px;
}

.content-header {
    height: 40px;
    padding: 5px;
}

/* search items */
#search-list, .ingredients-content {
    overflow-y: auto;
}

.search-item {
    padding: 10px;
    border-bottom: 1px solid black;
}

.search-item:hover > .button-item, .selected-item > .button-item {
    background-color: #1D5B79
}

.button-item {
    padding: 0 5px 0 5px;
    border-radius: 60px;
    margin-right:5px;
    margin-bottom: 2px;
    border: 2px solid #1D5B79;
 }

.ingredients-content {
    max-height: 30vh;
}

.invalid-row .col-name {
    background-color: rgba(168, 50, 50,.4);
}

.form-check-input:checked {
    background-color: #EF6262;
    border-color: #EF6262;
}

.unit-select {
    background-color: #1D5B79;
    border: 3px solid rgba(0, 66, 90,0.3);
    padding-top:0;
}

.qty-text {
    padding-left:15px;
}

.form-quantity {
    width: 50%;
}

.unit-select option {
    background-color: #468B97;
}

.row {
   min-height: 38px;
}

#time-input {
    overflow: visible;
    max-height: 45px;
}

.col-no-padding {
    padding:0;
}

/* general styles and other elements */
.progress-bar {
    width: 100%;
    background-color: #EF6262;
}

.progress {
    height: 10px;
}

.margin-both-sides {
    margin: 0px 10px 0px 10px;
}

.margin-top {
    margin: 10px 0 0 0;
}

p {
    margin-bottom: 0;
}

/* ------ search input ------ */
.form {
    position: relative;
    overflow-x: hidden;
}

.form input, ngb-timepicker::ng-deep input, ngb-timepicker::ng-deep input:focus  {
    width: 100%;
    border: none;
    background-color: #1D5B79;
    outline: none;
    color: white;
}

.form-search {
    height: 60px;
    padding-top:20px;
}

.form-search input {
    height:100%;
}

.form label {
    position: absolute;
    bottom: 0px;
    left:0%;
    width: 100%;
    height:100%;
    pointer-events: none;
    border-bottom: 1px solid #468B97;
}

.form label:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom:-1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #468B97;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.input-label-content {
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.3s ease;
}

.form input:focus + .input-label .input-label-content, 
.form input:valid + .input-label .input-label-content {
    transform: translateY(-100%);
    font-size: 14px;
    color: white;
}

.form input:focus + .input-label:after,
.form input:valid + .input-label:after {
    transform: translateX(0%);
}

/* ------ search button ------ */
.search-button {
    position: fixed;
    bottom: 10px;
    right: 70px;
}
  
.search-button-content {
    position: relative;
}
  
.search-button-text {
    display: block;
    width: 110px;
    line-height: 50px;
    background: #00425A;
    border: 3px solid #00425A;
    transition: all .35s;
}
  
.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon img {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    transition: all .35s;
}
  
.search-button-text:hover {
    width: 170px;
    border: 3px solid #EF6262;
    background: transparent;
}

.search-button-text:hover + .icon {
    border: 3px solid #EF6262;
    right: -25%;
    background-color: #468B97;
}

.trash {
    justify-self: end;
}

.filled {
    color: #EF6262;
}

#parameters .btn-icon {
    border-radius: 50%;
    border: 2px solid #EF6262;
}

#parameters .btn-icon .bi {
    margin:auto;
}

#parameters {
    gap:10px;
}

#default-ingredients {
    width: 50%;
}

#default-ingredients div {
    width: 100%;
}

#default-ingredients .ingredients-content {
    max-height: 25vh;
}

#default-ingredients .default-element {
    border-bottom:3px solid #1D5B79;
    padding: 5px 0px 5px 0px;
}

ngb-timepicker::ng-deep input, ngb-timepicker::ng-deep input:focus, #person-input  {
    border-radius: 0%;
    height: 30px;
    width: 60px;
    border-bottom: 1px solid #468B97;
}

#parameters .bi {
    font-size: 20px;
    margin-right:10px;
}

@media screen and (max-width: 770px) {
    #header-coach {
        display: flex;
    }

    #main-header img {
        width: 50px;
    }

    #main-header p {
        font-size: .9em!important;
        padding-left: 10px;
    }

    #main-header {
        align-items: flex-end;
    }

    .header-icon {
        width: 25px;
    }

    #main-row {
        flex-direction: column;
    }

    .checkbox-col {
        max-width: 40vw;
    }

    .quantity-col {
        width: 40%;
    }

    #main-row .col {
        padding-right: 0;
        padding-left: 0;
    }

    #ingredients-header-title div, .ingredients-content div .trash {
        width: fit-content;
        justify-content: center;
    }

    .ingredients-content .col-name {
        max-width: 25vw;
        padding:3px;
        min-width: 25vw;
    }

    #ingredients-header-title .col-name {
        max-width: 18vw;
    }

    .col .fs-5, .unit-select {
        font-size: 1em!important;
    }

    .unit-select {
        padding:2px;
    }

    #search-list {
        min-height:20px!important;
        overflow-y: scroll;
    }

    .ingredient-col {
        max-height: 40vh;
        z-index: 10;
    }

    .ingredients-content {
        max-height: 30vh;
    }

    .search-button {
        position: fixed;
        bottom: 5px;
        right:20px;
        z-index: 1;
    }

    .search-button .icon {
        display: none;
    }

    .col-param-title {
        max-width: 20vw!important;
    }
}